body {background-color: #EBEFF9; font-family: Arial, sans-serif; font-size: 13px; margin: 10px;}
a, a:active, a:link, a:visited {color: #3D5D6A; cursor: pointer; font-weight: bold; text-decoration: none;}
a:hover {text-decoration: underline;}
a[facebox] {cursor: pointer; outline: 0;}
code, pre {font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;}
code {background-color: #F8F8F8; border: 1px solid #DEDEDE; font-size: 13px; padding: 0 2px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
pre {background-color: #F8F8F8; border: 1px solid #CCC; font-size: 13px; line-height: 19px; margin: 20px 0; overflow: auto; padding: 6px 10px; order-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
table {border: 0; border-collapse; collapse; width: 100%;}
#order_code, #order_number {text-transform: uppercase;}
.styled thead th {border-bottom: 1px solid #EEE;}
.styled thead th:hover {border-bottom-color: #AAA;}
.styled tbody tr:hover {background-color: #F3F3F3;}
#navigation {background-color: #BEC9CE; border: 3px solid #BEC9CE; border-bottom: 0; border-radius: 20px 20px 0 0; list-style-type: none; margin: 50px auto 0 auto; padding: 0 30px; width: 600px;}
#navigation li {background-color: white; border-radius: 8px 8px 0 0; color: #333; cursor: pointer; display: inline-block; font-size: 15px; font-weight: bold; opacity: 0.5; padding: 5px 10px;}
#navigation li:hover {opacity: 1.0;}
#navigation li.selected {cursor: default; opacity: 1.0;}
#navigation-footer {background-color: #BEC9CE; margin: 0 auto 0 auto; padding: 0 3px; width: 660px;}
#navigation-footer div {background-color: white; border-radius: 20px 20px 0 0; height: 20px;}
.content-box {background-color: white; border: 3px solid #BEC9CE; border-radius: 0 0 20px 20px; border-top: 0; height: auto;  margin: 0 auto 20px auto; padding: 10px 30px 30px; text-align: left; width: 600px;}
h4 {border-bottom: 2px dotted #C3C3C3; color: #333; font-size: 15px; line-height: 28px; padding-left: 0.5em;}
.hide {display: none;}
.tab {display: none;}
.controls {margin: 25px 0 0 0;}
.section .contents {line-height: 25px; padding-left: 55px;}
.sections .section .contents {padding-left: 5px;}
.indent-left {margin: 0 0 0 4px;}
.help {display: none;}
.help-link img {margin-bottom: -3px;}
.field-width {width: 117px;}
.orders-width {min-width: 354px;}
.half-width {width: 50%;}
.full-width {width: 100%;}
.right {text-align: right;}
table.no-spacing {border-spacing: 0;}
#add_btn, #delete_btn {margin-left: 10px;}
input {cursor: pointer;}
button, input[type="button"], input[type="file"]::-webkit-file-upload-button, input[type="reset"], input[type="submit"] {background-image: -webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#F1F1F1)); background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1); -webkit-border-radius: 2px; -webkit-user-select: none; background-color: whiteSmoke; background-image: linear-gradient(top, whiteSmoke, #F1F1F1); background-image: -o-linear-gradient(top, whiteSmoke, #F1F1F1); border: 1px solid gainsboro; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; color: #666; cursor: pointer; font-size: 11px; font-weight: bold; height: 22px; line-height: 1em; margin: auto 6px auto auto; padding: 0 8px; text-align: center;}
button:disabled, input[type="button"]:disabled, input[type="file"]:disabled::-webkit-file-upload-button, input[type="reset"]:disabled, input[type="submit"]:disabled {background-image: -webkit-gradient(linear,left top,left bottom, from(#EBEBE4), to(#F1F1F1)); background-image: -webkit-linear-gradient(top, #EBEBE4, #F1F1F1); background-color: #EBEBE4; background-image: linear-gradient(top, #EBEBE4, #F1F1F1); background-image: -o-linear-gradient(top, #EBEBE4, #F1F1F1); border: 1px solid #C6C6C6; color: #AAA; cursor: default;}
button:hover:not(:disabled), input[type="button"]:hover:not(:disabled), input[type="file"]::-webkit-file-upload-button:hover:not(:disabled), input[type="reset"]:hover:not(:disabled), input[type="submit"]:hover:not(:disabled) {background-image: -webkit-gradient(linear,left top,left bottom, from(#F8F8F8), to(#F1F1F1)); background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1); -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); background-color: #F8F8F8; background-image: linear-gradient(top, #F8F8F8, #F1F1F1); background-image: -o-linear-gradient(top, #F8F8F8, #F1F1F1); border: 1px solid #C6C6C6; box-shadow: 0 1px 1px rgba(0,0,0,0.1); color: #333;}
footer {font-size: 13px; text-align: center;}
#footer {display: inline;}
#donation {display: inline; margin: 0;}
#donation [type="image"] {border: 0; margin: 0 0 -4px 12px;}
/* Facebox */
#facebox {left: 0; position: absolute; text-align: left; top: 0; z-index: 100;}
#facebox .popup {border: 3px solid rgba(0,0,0,0); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow:0 0 18px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4); -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4); position: relative;}
#facebox .content {display: table; width: 370px; padding: 10px 18px 10px 10px; background: white; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-right: 20px;}
#facebox .content > p:first-child {margin-top: 0;}
#facebox .content > p:last-child {margin-bottom: 0;}
#facebox .close {background: white; padding: 2px; position: absolute; right: 5px; top: 5px;}
#facebox .close img {opacity: 0.3;}
#facebox .close:hover img {opacity: 1.0;}
#facebox .loading {text-align: center;}
#facebox .image {text-align: center;}
#facebox img {border: 0; margin: 0;}
#facebox_overlay {height: 100%; left: 0; position: fixed; top: 0; width: 100%;}
.facebox_hide {z-index: -100;}
.facebox_overlayBG {background-color: black; z-index: 99;}